<div [hidden]="!serverOnline || !playing">
  <style type="text/css">
    body {
      overflow: hidden;
    }
    @font-face {
      font-family: "si";
      src: url('./assets/game/space_invaders.woff2') format('woff2');
    }
  </style>
  <div style="font-family: 'si'; height: 0;">&nbsp;<!-- force browser to load font --></div>
  <div id="gameContainer"></div>
</div>
<div [hidden]="!serverOnline || playing">
  Waiting for players
</div>
<div [hidden]="serverOnline">
  Connection lost, trying to reconnect
</div>
